<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="file:///C:/Users/FreeComp/Downloads/Compressed/fontawesome-free-5.10.0-web_3/fontawesome-free-5.10.0-web/css/all.css">
    <title> Life Savers</title>
</head>

<body>

    <header>
        <div class="overlay"></div>
        <div class="container">
            <div class="row align-items-center justify-content-md-between top-bar">
                <div class="col-12 col-md-2 logo">
                   <i class="fas fa-quote-right txt-orange"></i>LiFe SaVeRs
                </div>
                <div class="col-12 col-md-8">
                    <nav>
                    <ul class="d-flex justify-content-center justify-content-md-end">
                           
                                <li><a href="login" >Log in</a></li>
        
                            </ul>
                    </nav>
                </div>
            </div>
            <div class="row landing-txt align-content-center">
                <h1>Overview <span class="txt-orange">Blood donation</span></h1>
                <p> is a voluntary procedure that can help save the lives of others. There are several types of blood donation. Each type helps meet different medical needs</p>
               <a href="https://www.healthline.com/health/benefits-of-donating-blood" target="blank" title="go to read more about bool donation"> <button>Read More</button></a>
            </div>
        </div>
    </header>
   
         
    <section class="service">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-4">
             
                    <h2>Whole <span class="txt-orange">blood donation</span></h2>
                    <i class="fas fa-quote-left"></i><p>
This is the most common type of blood donation, during which you donate about a pint (about half a liter) of whole blood. The blood is then separated into its components — red cells, plasma and sometimes platelets.</p>
  <a href="https://www.healthline.com/health/benefits-of-donating-blood" target="blank" title="go to read more about bool donation"> <button>Read More</button></a>
                </div>
                <div class="col-12 col-md-7 img-container">
                   <!-- <img src="img/2.jpeg" alt="AGENCY" class="img-fluid">-->
                   <video width="100%" height="300" controls ><source src="video/1.mp4" type ="video/mp4"></video>
                </div>
            </div>
        </div>
    </section>
    <section class="companys">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center content ">
                  <div class="contnt col-12 col-md-4 txt-white ">
                    <h1>The Best <span class="txt-orange">Foods</span> to Eat Before <span class="txt-orange">Donating Blood</span></h1><p>Donating blood is a relatively safe way to help people with serious medical conditions.</p>
                </div>
                <div class="icons col-12 col-md-5 d-flex flex-column  justify-content-between  txt-white ">
                
                   <div class="icon2 d-flex justify-content-end align-items-center">
                    <i class="far fa-flag txt-orange"></i>
                       <div clas="d-flex flex-wrap"><h4 class="txt-orange">Vegetables</h4><p> such asspinach, sweet potatoes, peas, broccoli, string beans, beet greens, dandelion greens, collards, kale, and chard..</p></div> 
                    </div>
                    
                    <div class="icon2 d-flex justify-content-end align-items-center">
                    <i class="fas fa-tv txt-orange"></i>
                       <div clas="d-flex flex-wrap"><h4 class="txt-orange">Breads and cereals</h4><p>includingenriched white bread, enriched cereal, whole-wheat bread, enriched pasta, wheat, bran cereals, cornmeal, oats, rye bread, and enriched rice.</p></div> 
                    </div>
                    <div class="icon2 d-flex justify-content-end align-items-center ">
                    <i class="fas fa-quote-left txt-orange  "></i>
                       <div clas="d-flex flex-wrap"><h4 class="txt-orange">Fruits</h4><p>   such as strawberries, watermelon, raisons, dates, figs, prunes, prune juice, dried apricots, and dried peaches.</p></div> 
                    </div>
                    <div class="icon2 d-flex justify-content-end align-items-center">
                    <i class="fas fa-phone txt-orange  "></i>
                       <div clas="d-flex flex-wrap"><h4 class="txt-orange">Beans </h4><p>  including tofu, kidney, garbanzo, white, dried peas, dried beans, and lentils.</p></div> 
                    </div>
                
                </div>
           </div>
        </div>
        <div class ="n" style="position: fixed"><a href="index.html">^</a> </div>
    </section>

      <script src="jQuery/jquery-3.4.1.min.js"></script>
     <script src="jQuery/noga.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>